@model IEnumerable<Patisserie.Models.Branch>

@{
    ViewBag.Title = "Branches";
}

<div class="row justify-content-between">
    <h1 class="col my-4">@ViewBag.Title</h1>
    @if (Patisserie.Controllers.Utl.IsAdmin(Session))
    {
        <span class="col-4 d-flex flex-row-reverse align-items-center">
            @Html.ActionLink("Create New Branch", "Create", null, new { @class = "btn btn-outline-primary" })
        </span>
    }
</div>

<hr class="accessory" />

<table class="table" id="branches">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        @if (Patisserie.Controllers.Utl.IsAdmin(Session))
        {
        <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr class="branch" data-id="@item.BranchID">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            @if (Patisserie.Controllers.Utl.IsAdmin(Session))
            {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BranchID }, new { @class = "btn btn-secondary" })
                <button class="btn btn-danger btn-delete"
                        data-name="@item.Name" data-id="@item.BranchID">
                    Delete
                </button>
            </td>
            }
        </tr>
    }

</table>

@Html.Partial("_DeleteModal", null, new ViewDataDictionary { { "title", "name" }, { "category", "Branches" } })

<script type="text/javascript">
    $(".branch").click(function (e) {
        window.location = window.location.href + "/Details/" + $(this).data("id");
    });
</script>
